<h1> Who is online? </h1>
<div *ngIf="loadedInitially; else notLoaded">
  <p>
    <button
      mat-icon-button
      color="primary"
      matTooltip="Refresh List"
      (click)="refresh()">
        <mat-icon>autorenew</mat-icon>
    </button>
  </p>
  <div *ngIf="(firebaseService.whosOnlineList | callback: onlyOnline).length > 0; else nobodyOnline">
    <mat-grid-list [cols]='columnNumber' rowHeight='250px'>
      <mat-grid-tile *ngFor="let user of displayedPeople | callback: onlyOnline">
        <div class="peerCard">
          <mat-card>
            <mat-card-title>
              {{user.alias}}
            </mat-card-title>
            <mat-card-subtitle>
              Address {{user.address}}
            </mat-card-subtitle>
            <mat-card-actions>
              <button
              mat-button
              color='primary'
              (click)="message(user)">MESSAGE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator
      [length]="(firebaseService.whosOnlineList | callback: onlyOnline).length"
      [pageSize]="pageSize"
      (page)="page($event)"
      hidePageSize="true">
    </mat-paginator>
  </div>
  <ng-template #nobodyOnline>
    You are the only one online at the moment.
  </ng-template>
</div>
<ng-template #notLoaded class="centeredContainer">
  <div class="centeredContainer">
    <mat-progress-spinner
    class="progress_spinner"
    color="primary"
    mode="indeterminate">
    </mat-progress-spinner>
  </div>
</ng-template>
