table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.row {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.peerCard {
  min-width: 500px;
  margin: 10px;
}
