<div class="message_system_container">
  
  <!-- Select the peer you are communicating with -->
  <div class="select_peer_card">
    <mat-card>
      <mat-card-actions>
        <mat-form-field *ngIf="this.messageService.connectedPeers.length > 0"
            style="width: 80%;">
          <mat-select placeholder="Select Peer" [(value)]="this.messageService.selectedPeer">
            <mat-option *ngFor="let peer of this.messageService.connectedPeers"
            [value]="peer"
            style="width: 100%;">
              {{peer.alias}}
              <span *ngIf="peer.hasUnreadMessages" class="unreadMessagesDot"></span>
              <span *ngIf="peer.isOnline" class="onlineDot"></span>
              <span *ngIf="!(peer.isOnline)" class="offlineDot"></span>  
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span *ngIf="this.messageService.connectedPeers.length === 0">Add Peer</span>
        <span *ngIf="this.messageService.selectedPeer">
          <span *ngIf="this.messageService.selectedPeer.isOnline" class="onlineDot"></span>
          <span *ngIf="!(this.messageService.selectedPeer.isOnline)" class="offlineDot"></span>  
        </span>
        <button 
          mat-icon-button 
          color="primary"
          (click)="openDialogAddPeer()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Display & Send Messages to peer -->
  <div class="chat_card" 
  *ngIf="this.messageService.connectedPeers.length > 0 
  && this.messageService.selectedPeer.messageHistory.length > 0"
  #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <ng-container *ngFor="let msg of this.messageService.selectedPeer.messageHistory">
      <mat-card *ngIf="msg.user == 'You'" class='chat_message_card myMessage'>
        <mat-card-content style="display: flex;">
          <div>
            {{msg.user}}
          </div>
          <div style='flex: 1;'>
          </div>
          <div>
            {{msg.timestamp | date: 'HH:mm'}}
          </div>
        </mat-card-content>
        <mat-card-content>
          {{msg.message}}
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="msg.user != 'You'" class="chat_message_card peerMessage">
        <mat-card-content style="display: flex;">
          <div>
            {{msg.user}}
          </div>
          <div style='flex: 1;'>
          </div>
          <div>
            {{msg.timestamp | date: 'HH:mm'}}
          </div>
        </mat-card-content>
        <mat-card-content>
          {{msg.message}}
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
    
  <div class="send_message_card" *ngIf="this.messageService.selectedPeer">
    <mat-card>
      <mat-form-field class="send_message_card">
        <input 
          matInput
          type="text"
          (keydown.enter)="sendMessage()"
          placeholder="Send message"
          [(ngModel)]="message"/>
        <button
          mat-button
          mat-icon-button 
          matSuffix
          color="primary"
          aria-label="Send"
          (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
  </div>
</div>



<!-- 
<div>
  Send a message to a peer
  <form>
    <div class="form-group">
      <label for="receiver">Receiver</label>
      <input type="text" class="form-control" id="receiver" required  [(ngModel)]="receiver" name="receiver" [disabled]="!this.wsService.connectionEstablished">
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <input type="text" class="form-control" id="message" [(ngModel)]="message" name="message" [disabled]="!this.wsService.connectionEstablished">
    </div>
    
    <button type="submit" class="btn btn-success" (click)="sendMessage()" [disabled]="!this.wsService.connectionEstablished">Send</button>
  </form>
</div> -->