<div class="message_system_container">

  <!-- Select the peer you are communicating with -->
  <div class="select_peer_card">
    <mat-card>
      <mat-card-actions>
        <span *ngIf="messageService.selectedPeer">
          <mat-form-field *ngIf="messageService.connectedPeers.length > 0">
            <mat-select
            placeholder="Select Peer"
            [disabled]="messageService.sendingMessage"
            [(value)]="messageService.selectedPeer">
              <mat-option *ngFor="let peer of messageService.connectedPeers"
              [value]="peer"
              style="width: 100%;">
                {{peer.peerDetails.alias}}
                <span *ngIf="peer.hasUnreadMessages" class="unreadMessagesDot"></span>
                <span *ngIf="!connectionService.anonymousConnection && peer.peerDetails.uid">
                  <span *ngIf="peer.peerDetails.online" class="onlineDot"></span>
                  <span *ngIf="!(peer.peerDetails.online)" class="offlineDot"></span>
                </span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span *ngIf="!connectionService.anonymousConnection && messageService.selectedPeer.peerDetails.uid">
            <span *ngIf="messageService.selectedPeer.peerDetails.online" class="onlineDot" matSuffix></span>
            <span *ngIf="!(messageService.selectedPeer.peerDetails.online)" class="offlineDot" matSuffix></span>
          </span>
          <button
          *ngIf="!connectionService.anonymousConnection
                 && messageService.selectedPeer.peerDetails.uid
                 && !messageService.selectedPeer.peerDetails.inMyPeerList"
          mat-button
          mat-icon-button
          matSuffix
          matTooltip="Add peer to your list"
          aria-label="Add Friend"
          color="primary"
          (click)="addPeerAsFriend()">
            <mat-icon>person_add</mat-icon>
          </button>
          <button
            mat-button
            mat-icon-button
            matSuffix
            matTooltip="Get Order From {{messageService.selectedPeer.peerDetails.alias}}"
            color="primary"
            (click)="initGetOrderWithSelectedPeer()">
            <mat-icon>attach_money</mat-icon>
          </button>
        </span>
        <button
          mat-button
          mat-icon-button
          matSuffix
          matTooltip="Add new peer from address"
          color="primary"
          (click)="openDialogAddPeer()">
          <mat-icon>add</mat-icon>
        </button>
        <span *ngIf="messageService.connectedPeers.length === 0">Add Peer</span>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Display & Send Messages to peer -->
  <div class="chat_card"
  *ngIf="messageService.connectedPeers.length > 0
  && messageService.selectedPeer.messageHistory.length > 0"
  #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <ng-container *ngFor="let msg of messageService.selectedPeer.messageHistory">
      <mat-card *ngIf="msg.user == 'You'" class='chat_message_card myMessage'>
        <mat-card-content style="display: flex;">
          <div>
            {{msg.user}}
          </div>
          <div style='flex: 1;'>
          </div>
          <div>
            {{msg.timestamp | date: 'HH:mm'}}
          </div>
        </mat-card-content>
        <mat-card-content>
          {{msg.message}}
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="msg.user != 'You'" class="chat_message_card peerMessage">
        <mat-card-content style="display: flex;">
          <div>
            {{msg.user}}
          </div>
          <div style='flex: 1;'>
          </div>
          <div>
            {{msg.timestamp | date: 'HH:mm'}}
          </div>
        </mat-card-content>
        <mat-card-content>
          {{msg.message}}
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>

  <div class="send_message_card" *ngIf="messageService.selectedPeer">
    <mat-card>
      <mat-form-field class="send_message_card">
        <textarea #chatTextarea="matInput"
        matInput
        matTextareaAutosize
        type="text"
        placeholder="Send Message"
        maxlength="200"
        matAutosizeMinRows=2
        (keydown.enter)="sendMessage()"
        [(ngModel)]="message"
        [disabled] = "messageService.sendingMessage"></textarea>
        <button
          mat-button
          mat-icon-button
          matSuffix
          matTooltip='Send message via AirSwap'
          color="primary"
          aria-label="Send"
          (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
        <mat-hint align="end">{{message.length}} / 200</mat-hint>
      </mat-form-field>
    </mat-card>
  </div>
</div>