<div>
  <h1 mat-dialog-title>About</h1>
  <div mat-dialog-content>
    <div>
      <p>
        AirSwapChat is an independent non-profit page that provides an interface to interact with <a href='https://airswap.io' target='_blank'><u>AirSwap</u></a>. For details on the AirSwap protocol please visit their page.
      </p>
      <p>
        AirSwapChat is maintained by a single person from the AirSwap community in his spare time. The protocol provides a possibility for people to find equals to trade Ethereum tokens online with one another without any extra hassle and without having to ever give up the control of ones funds.
      </p>
      <p>
        This is something dearly needed, especially in times as today, where it feels like every classic order book market is highly manipulated. It provides a way for safe and fair trading. Plus: there are never any fees charged (up to gas costs that are paid to the Ethereum network). So feel free to find one another and trade freely.
      </p>
      <p><strong>Details to the communication</strong></p>
      <p>
        When two parties are online, the communication between them is completely between them as all messages that are sent and received are directly routed via the AirSwap websocket to one another. AirSwapChat cannot read or receive these messages. When one party is offline, the other can still send him offline messages, which are temporarily stored on the AirSwapChat database. Those messages will be burnt after reading by the counterparty.
      </p>
    </div>
  </div>
  </div>