<div>
  <h1 mat-dialog-title>Get Order</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field style="width: 100%;">
        <input
        matInput
        placeholder="Peer Address"
        [(ngModel)]="data.intent.address"
        readonly='true'>
      </mat-form-field>
    </div>
    <div>
      <i>{{data.intent.peer.alias}} has
      <strong> {{data.intent.makerBalanceMakerToken / data.intent.makerDecimals}} {{data.intent.makerProps.symbol}} </strong>
      & {{data.intent.makerBalanceTakerToken / data.intent.takerDecimals}} {{data.intent.takerProps.symbol}}</i>
    </div>
    <div>
      <i>You have
      <strong> {{data.intent.takerBalanceTakerToken / data.intent.takerDecimals}} {{data.intent.takerProps.symbol}} </strong>
      & {{data.intent.takerBalanceMakerToken / data.intent.makerDecimals}} {{data.intent.makerProps.symbol}}</i>
    </div>
    <div *ngIf="data.intent['UsdPrices']">
      <div>
        Current prices according to <a href='https://www.cryptocompare.com/' target='_blank'>CryptoCompare.com</a>:<br>
        <strong>{{ data.intent.makerProps.symbol }}: {{data.intent['UsdPrices'].makerToken}} $,
        {{ data.intent.takerProps.symbol }}: {{data.intent['UsdPrices'].takerToken}} $</strong>
      </div>
    </div>
    <br>
    <div *ngIf="data.selectedRole === 'maker'">
      Asking peer: Sell me {{data.intent.makerProps.name}} for {{data.intent.takerProps.name}}
      <mat-form-field style="width: 100%;">
        <input
        matInput
        number
        (keydown.enter)="getOrder()"
        placeholder="I want the following amount of {{data.intent.makerProps.symbol}}"
        [(ngModel)]="amount">
        <mat-hint *ngIf="!amount">Enter how much you want to buy</mat-hint>
        <mat-hint *ngIf="amount && !isPositiveMakerToken()"><span style='color:red'>You have to ask for a positive amount.</span></mat-hint>
        <mat-hint *ngIf="amount && isPositiveMakerToken() && !makerHasEnough()"><span style='color:red'>You can not ask for more than what somebody has.</span></mat-hint>
      </mat-form-field>
    </div>
    <div *ngIf="data.selectedRole === 'taker'">
      Asking peer: How much do you pay for my {{data.intent.takerProps.name}} in {{data.intent.makerProps.name}}
      <mat-form-field style="width: 100%;">
        <input
        matInput
        number
        (keydown.enter)="getOrder()"
        placeholder="I want to sell the following amount of {{data.intent.takerProps.symbol}}"
        [(ngModel)]="amount">
        <mat-hint *ngIf="!amount">Enter how much you want to sell</mat-hint>
        <mat-hint *ngIf="amount && !isPositiveTakerToken()"><span style='color:red'>You have to enter a positive amount.</span></mat-hint>
        <mat-hint *ngIf="amount && isPositiveTakerToken() && !takerHasEnough()"><span style='color:red'>You can not sell what you don't have.</span></mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <div *ngIf="data.selectedRole === 'maker'">
      <div *ngIf="amount && isPositiveMakerToken() && makerHasEnough()">
        <button
        mat-button
        color='primary'
        (click)="getOrderMaker()">
          ASK FOR OFFER
        </button>
      </div>
    </div>
    <div *ngIf="data.selectedRole === 'taker'">
      <div *ngIf="amount && isPositiveTakerToken() && takerHasEnough()">
        <button
        mat-button
        color='primary'
        (click)="getOrderTaker()">
          ASK FOR OFFER
        </button>
      </div>
    </div>
  </div>
</div>