<div>
  <h1 mat-dialog-title>Get Order</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field style="width: 100%;">
        <input
        matInput
        placeholder="Peer Address"
        [(ngModel)]="data.address"
        readonly='true'>
      </mat-form-field>
    </div>
    <div>
      <i>{{data.peer.alias}} has
      <strong> {{data.makerBalanceMakerToken / data.makerDecimals}} {{data.makerProps.symbol}} </strong>
      & {{data.makerBalanceTakerToken / data.takerDecimals}} {{data.takerProps.symbol}}</i>
    </div>
    <div>
      <i>You have
      <strong> {{data.takerBalanceTakerToken / data.takerDecimals}} {{data.takerProps.symbol}} </strong>
      & {{data.takerBalanceMakerToken / data.makerDecimals}} {{data.makerProps.symbol}}</i>
    </div>
    <div *ngIf="data['UsdPrices']">
      <div>
        Current prices according to <a href='https://www.cryptocompare.com/' target='_blank'>CryptoCompare.com</a>:<br>
        <strong>{{ data.makerProps.symbol }}: {{data['UsdPrices'].makerToken}} $,
        {{ data.takerProps.symbol }}: {{data['UsdPrices'].takerToken}} $</strong>
      </div>
    </div>
    <br>
    <div>
      Asking peer: Sell me {{data.makerProps.name}} for {{data.takerProps.name}}
    <mat-form-field style="width: 100%;">
      <input
      matInput
      number
      (keydown.enter)="getOrder()"
      placeholder="I want the following amount of {{data.makerProps.symbol}}"
      [(ngModel)]="makerAmount">
      <mat-hint *ngIf="!makerAmount">Enter how much you want</mat-hint>
      <mat-hint *ngIf="makerAmount && !isPositive()"><span style='color:red'>You have to ask for a positive amount.</span></mat-hint>
      <mat-hint *ngIf="makerAmount && isPositive() && !makerHasEnough()"><span style='color:red'>You can not ask for more than what somebody has.</span></mat-hint>
    </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <div *ngIf="makerAmount && isPositive() && makerHasEnough()">
      <button
      mat-button
      color='primary'
      (click)="getOrder()">
        ASK FOR OFFER
      </button>
    </div>
  </div>
</div>