<div *ngIf="messagingService.selectedPeer; else notAllowed">
  <h1>
    Get Order From Your Peer
  </h1>
  <div class='container'>
    <mat-card class='card'>
      <mat-card-title>
        Ask {{messagingService.selectedPeer.peerDetails.alias}} for an Order
      </mat-card-title>
      <mat-card-subtitle>
        Address: {{messagingService.selectedPeer.peerDetails.address}}
      </mat-card-subtitle>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input
            type="text"
            placeholder="Sell me"
            aria-label="makerToken"
            matInput
            [(ngModel)]='makerTokenName'
            (ngModelChange)='enteredMakerTokenName()'
            [matAutocomplete]="autoMaker">
            <mat-autocomplete #autoMaker="matAutocomplete">
              <mat-option
              *ngFor="let token of filteredValidatedMakerTokens | callback: filterEther"
              [value]="token.name">
                {{ token.name }}
              </mat-option>
              <mat-optgroup label="User Added Tokens" *ngIf="filteredCustomMakerTokens && filteredCustomMakerTokens.length > 0">
                <mat-option
                *ngFor="let token of filteredCustomMakerTokens"
                [value]="token.name">
                  {{ token.name }}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
            <mat-hint *ngIf="makerToken">{{makerToken.address.slice(0,14)}}...</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input
            type="text"
            placeholder="And I'll give you"
            aria-label="takerToken"
            matInput
            [(ngModel)]='takerTokenName'
            (ngModelChange)='enteredTakerTokenName()'
            [matAutocomplete]="autoTaker">
            <mat-autocomplete #autoTaker="matAutocomplete">
              <mat-option
              *ngFor="let token of filteredValidatedTakerTokens"
              [value]="token.name">
                {{ token.name }}
              </mat-option>
              <mat-optgroup label="User Added Tokens" *ngIf="filteredCustomTakerTokens && filteredCustomTakerTokens.length > 0">
                <mat-option
                *ngFor="let token of filteredCustomTakerTokens"
                [value]="token.name">
                  {{ token.name }}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
            <mat-hint *ngIf="takerToken">{{takerToken.address.slice(0,14)}}...</mat-hint>
          </mat-form-field>
        </div>
        <div *ngIf="makerToken && takerToken">
          <i>In peers wallet are:</i>
          <strong> {{makerBalanceMakerToken / makerDecimals}}
          {{makerToken.symbol}}</strong>,
          {{makerBalanceTakerToken / takerDecimals}}
          {{takerToken.symbol}}
          <br/>
          <i>In your wallet are:</i>
          {{takerBalanceTakerToken / takerDecimals}}
          {{takerToken.symbol}},
          {{takerBalanceMakerToken / makerDecimals}}
          {{makerToken.symbol}}
        </div>
        <div>
          <mat-form-field *ngIf="makerToken">
            <input
            matInput
            number
            placeholder="Sell me following amount of  {{makerToken.symbol}}"
            [(ngModel)]="makerAmount">
            <mat-hint *ngIf="makerAmount && !isPositive()"><span style='color:red'>You have to ask for a positive amount.</span></mat-hint>
            <mat-hint *ngIf="makerAmount && isPositive() && !makerHasEnough()"><span style='color:red'>You can not ask for more than what somebody has.</span></mat-hint>
          </mat-form-field>
        </div>
        <div *ngIf="sentRequest">
          <i>{{sentRequest}}</i>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="messagingService.selectedPeer.peerDetails.address &&
        makerToken && takerToken && makerAmount && isPositive() && makerHasEnough() &&
        takerTakerTokenApproval > 0"
        mat-button
        (click)="getOrder()">
        ASK FOR OFFER
        </button>
        <button *ngIf="messagingService.selectedPeer.peerDetails.address &&
        takerToken && takerTakerTokenApproval == 0"
        mat-button
        (click)="approveTakerToken()">
        APPROVE {{this.takerToken.symbol}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #notAllowed>
  You do not know the way.
</ng-template>
