<div *ngIf='this.orderService.orderRequests.length > 0'>
  <h1> You have Open Requests For Offers </h1>
  <div *ngFor='let order of this.orderService.orderRequests' class="row">
    <mat-card>
      <mat-card-title>
        {{order.takerAddress}}
      </mat-card-title>
      <mat-card-subtitle>
        Wants to <b>trade {{order.makerAmount / order.makerDecimals}} {{order.makerProps.symbol}} of yours for his 
          {{order.takerProps.symbol}}</b>
      </mat-card-subtitle>
      <mat-card-content>
        Peer has {{order.takerBalanceMakerToken/order.makerDecimals}} {{order.makerProps.symbol}} and 
        {{order.takerBalanceTakerToken/order.takerDecimals}} {{order.takerProps.symbol}} in the wallet.
      </mat-card-content>
      <mat-card-content>
        <p>
          <i>How many {{order.takerProps.symbol}} do you want for this deal?</i> 
        </p>
        <mat-form-field style="width: 100%;">
          <input 
          matInput
          type="number"
          placeholder="Offer the deal for {{order.takerProps.symbol}}" 
          [(ngModel)]="order['takerAmount']"
          [disabled]="order.clickedOfferDeal">
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <p>
          <i>How many minutes should the order be open for the counterparty to seal?</i> 
        </p>
        <mat-form-field style="width: 100%;">
          <input 
          matInput
          type="number"
          placeholder="Minutes after the order should expire" 
          [(ngModel)]="expiration"
          [disabled]="order.clickedOfferDeal">
        </mat-form-field>
        <div *ngIf="order['takerAmount'] >= 0 && takerHasEnough(order)">
          <button mat-raised-button (click)="answerOrder(order)"
          [disabled]="order.clickedOfferDeal">OFFER DEAL</button>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="order.clickedOfferDeal">
        <i>Sign in Metamask that you accept a deal of your 
        {{order.makerAmount /order.makerDecimals}}
        {{order.makerProps.symbol}} for peers
        {{order.takerAmount}}
        {{order.takerProps.symbol}}
        </i>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf='this.getOrderService.orderResponses.length > 0'>
  <h1> You Can Close Deals </h1>
  <div *ngFor='let order of this.getOrderService.orderResponses' class="row">
    <mat-card>
      <mat-card-title>
        You got an response from {{order.makerAddress}}
      </mat-card-title>
      <!-- <mat-card-subtitle>
          Wants to <b>buy {{callGetTokenNameByAddress(intent.takerToken)}}</b>
      </mat-card-subtitle> -->
      <mat-card-content>
        He signed the deal to give you 
        {{order.makerAmount / order.makerDecimals}}
        {{order.makerProps.symbol}}
        for {{order.takerAmount / order.takerDecimals}} 
        {{order.takerProps.symbol}}
      </mat-card-content>
      <mat-card-content>
        Offer expires in {{order.minutesLeft}} min and {{order.secondsLeft}} sec
      </mat-card-content>
      <button 
      mat-raised-button 
      (click)="sealDeal(order)"
      [disabled]="order.clickedDealSeal">
        SEAL THE DEAL
      </button>
      <mat-card-content *ngIf="order.clickedDealSeal">
        <i>Send transaction in Metamask to seal the deal to trade peers
        {{order.makerAmount /order.makerDecimals}}
        {{order.makerProps.symbol}} for your
        {{order.takerAmount/order.takerDecimals}}
        {{order.takerProps.symbol}}
        </i>
      </mat-card-content>
    </mat-card>     
  </div>
</div>

<div *ngIf='this.orderService.orderRequests.length === 0 && this.getOrderService.orderResponses.length === 0'>
  <p>There are currently no offer requests for you.</p>
</div>