<div *ngIf='this.orderService.orderRequests.length > 0'>
  <h1> You have Open Requests For Offers </h1>
  <div *ngFor='let order of this.orderService.orderRequests' class="row">
    <mat-card>
      <mat-card-title>
        {{order.takerAddress}}
      </mat-card-title>
      <mat-card-subtitle>
          Wants to <b>trade your {{getTokenSymbol(order.makerToken)}} for his 
            {{getTokenSymbol(order.takerToken)}}</b>
      </mat-card-subtitle>
      <mat-card-content>
        <p>
          <i>How many tokens do you want for this deal?</i> 
        </p>
        <p>
          {{order.makerAmount / getTokenDecimals(order.makerToken)}} 
          {{getTokenSymbol(order.makerToken)}} ({{order.makerToken.slice(0,8)}}) 
          for {{getTokenSymbol(order.takerToken)}} ({{order.takerToken.slice(0,8)}})
        </p>
        <mat-form-field style="width: 100%;">
          <input 
          matInput
          type="number"
          placeholder="Offer the deal for {{getTokenSymbol(order.takerToken)}}" 
          [(ngModel)]="order['takerAmount']">
        </mat-form-field>
        <div *ngIf="order['takerAmount'] >= 0">
          <button mat-raised-button (click)="answerOrder(order)">OFFER DEAL</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf='this.getOrderService.orderResponses.length > 0'>
  <h1> You Can Close Deals </h1>
  <div *ngFor='let order of this.getOrderService.orderResponses' class="row">
    <mat-card>
      <mat-card-title>
        You got an response from {{order.makerAddress}}
      </mat-card-title>
      <!-- <mat-card-subtitle>
          Wants to <b>buy {{callGetTokenNameByAddress(intent.takerToken)}}</b>
      </mat-card-subtitle> -->
      <mat-card-content>
        He signed the deal to give you 
        {{order.makerAmount / getTokenDecimals(order.makerToken)}}
        {{getTokenSymbol(order.makerToken)}} ({{order.makerToken.slice(0,8)}}) 
        for {{order.takerAmount / getTokenDecimals(order.takerToken)}} 
        {{getTokenSymbol(order.takerToken)}} ({{order.takerToken.slice(0,8)}})
      </mat-card-content>
      <button mat-raised-button (click)="sealDeal(order)">SEAL THE DEAL</button>
    </mat-card>     
  </div>
</div>

<div *ngIf='this.orderService.orderRequests.length === 0 && this.getOrderService.orderResponses.length === 0'>
  <p>There are currently no offer requests for you.</p>
</div>