<div>
  <h1>
    Peer-to-Peer Trading based on AirSwap
  </h1>
  <p>
    <i> Make yourself visible, find peers, connect, trade</i>
  </p>
  <p>
    <i>
      No need for order books. Negotiate privately & buy/sell every ERC20 token for any ERC20 token at the price that you and your counterparty agree upon.
    </i>
  </p>
  <p>
    AirSwapChat is an client-sided interface to interact with <a href='https://airswap.io' target='_blank'><u>AirSwap</u></a>. Make yourself searchable on the indexer and find other peers to trade with. 
  </p>
  <p>
    Additionally, AirSwapChat provides a database to send offline messages to one another to find a time to establish a peer-to-peer connection.
  </p>
  <p style='color: red'>
    <strong>
      Page is still under construction & development.
    </strong>
  </p>
</div>