@import '~../../../customTheme.scss';

.centeredContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.tosContainer {
  // overflow-y: auto;
}

.readThis {
  color:red;
  font-style: italic;
}