<div style='overflow: hidden'>
  <h1 mat-dialog-title>Terms of Service</h1>
  <div mat-dialog-content>
    <!-- <div #tosContainer class='tosContainer'> -->
      <p *ngIf="data.showConsent" class='readThis'>
        <strong>
          <p>
            Please read the following tabs of our disclaimer before registering on AirSwapChat.
          </p>
          <p>
            To proceed with registration you have to give your consent to these terms of service.
          </p>
        </strong>
      </p>
      <mat-tab-group>
        <mat-tab label="Internal Content">
          <h1>Limitation of liability for internal content</h1>
          <p>
            The content of our website has been compiled with meticulous care and to the best of our knowledge. However, we cannot assume any liability for the up-to-dateness, completeness or accuracy of any of the pages.
          </p>
          <p>
            Pursuant to section 7, para. 1 of the TMG (Telemediengesetz – Tele Media Act by German law), we as service providers are liable for our own content on these pages in accordance with general laws. However, pursuant to sections 8 to 10 of the TMG, we as service providers are not under obligation to monitor external information provided or stored on our website. Once we have become aware of a specific infringement of the law, we will immediately remove the content in question. Any liability concerning this matter can only be assumed from the point in time at which the infringement becomes known to us.
          </p>
        </mat-tab>
        <mat-tab label="External Links">
          <h1>Limitation of liability for external links</h1>
          <p>
            Our website contains resources and links to the websites of third parties („external links“). As the content of these websites is not under our control, we cannot assume any liability for such external content. In all cases, the provider of information of the linked websites is liable for the content and accuracy of the information provided. At the point in time when the links were placed, no infringements of the law were recognisable to us. As soon as an infringement of the law becomes known to us, we will immediately remove the link in question.
          </p>
        </mat-tab>
        <mat-tab label="Data protection">
          <h1>Data protection</h1>
          <p>
            A visit to our website can result in the storage on our server of information about the access (date, time, page accessed). This does not represent any analysis of personal data (e.g., name, address or e-mail address). If personal data are collected, this only occurs – to the extent possible – with the prior consent of the user of the website. Any forwarding of the data to third parties without the express consent of the user shall not take place.
          </p>
          <p>
            We would like to expressly point out that the transmission of data via the Internet (e.g., by e-mail) can offer security vulnerabilities. It is therefore impossible to safeguard the data completely against access by third parties. We cannot assume any liability for damages arising as a result of such security vulnerabilities.
          </p>
          <p>
            Communication between two online parties is peer-to-peer between two parties over the AirSwap Websocket. These messages can not be read, stored or retrieved by AirSwapChat. After receiving, as soon as the browser is closed or the page refreshed, the messages are permanently deleted.
          </p>
        </mat-tab>
        <mat-tab label="Token Trading">
          <h1>Token Trading</h1>
          <p>
            At no time do we have custody over user funds, clear trades or are able to interact with on-going trades. Every trade is settled by a peer and his counterparty via third-party tools as Metamask, which interact with the AirSwap smart contract and the <a href='https://www.airswap.io/' target='_blank'><u>AirSwap Terms of Service</u></a> apply. The user is responsible to check every signature and transaction carefully before sending them. AirSwapChat can not revert sent transactions or take back given signatures.
          </p>
          <p>
            The user is responsible of checking that offered prices are fair and token labels correspond to the correct token address.
          </p>
          <p>
            Participating in Ethereum transactions may carry financial risk. You acknowledge and agree that you are aware of such risks.
          </p>
        </mat-tab>
      </mat-tab-group>
      <!-- <strong>Limitation of liability for internal content</strong>
      <p>
        The content of our website has been compiled with meticulous care and to the best of our knowledge. However, we cannot assume any liability for the up-to-dateness, completeness or accuracy of any of the pages.
      </p>
      <p>
        Pursuant to section 7, para. 1 of the TMG (Telemediengesetz – Tele Media Act by German law), we as service providers are liable for our own content on these pages in accordance with general laws. However, pursuant to sections 8 to 10 of the TMG, we as service providers are not under obligation to monitor external information provided or stored on our website. Once we have become aware of a specific infringement of the law, we will immediately remove the content in question. Any liability concerning this matter can only be assumed from the point in time at which the infringement becomes known to us.
      </p>

      <strong>Limitation of liability for external links</strong>
      <p>
        Our website contains resources and links to the websites of third parties („external links“). As the content of these websites is not under our control, we cannot assume any liability for such external content. In all cases, the provider of information of the linked websites is liable for the content and accuracy of the information provided. At the point in time when the links were placed, no infringements of the law were recognisable to us. As soon as an infringement of the law becomes known to us, we will immediately remove the link in question.
      </p>

      <strong>Data protection</strong>
      <p>
        A visit to our website can result in the storage on our server of information about the access (date, time, page accessed). This does not represent any analysis of personal data (e.g., name, address or e-mail address). If personal data are collected, this only occurs – to the extent possible – with the prior consent of the user of the website. Any forwarding of the data to third parties without the express consent of the user shall not take place.
      </p>
      <p>
        We would like to expressly point out that the transmission of data via the Internet (e.g., by e-mail) can offer security vulnerabilities. It is therefore impossible to safeguard the data completely against access by third parties. We cannot assume any liability for damages arising as a result of such security vulnerabilities.
      </p>
      <p>
        Communication between two online parties is peer-to-peer between two parties over the AirSwap Websocket. These messages can not be read, stored or retrieved by AirSwapChat. After receiving, as soon as the browser is closed or the page refreshed, the messages are permanently deleted.
      </p>
      <strong>Token Trading</strong>
      <p>
        At no time do we have custody over user funds, clear trades or are able to interact with on-going trades. Every trade is settled by a peer and his counterparty via third-party tools as Metamask, which interact with the AirSwap smart contract and the <a href='https://www.airswap.io/' target='_blank'><u>AirSwap Terms of Service</u></a> apply. The user is responsible to check every signature and transaction carefully before sending them. AirSwapChat can not revert sent transactions or take back given signatures once they are given.
      </p>
      <p>
        The user is responsible of checking that offered prices are fair and token labels correspond to the correct token address.
      </p>
      <p>
        Participating in Ethereum transactions may carry financial risk. You acknowledge and agree that you are aware of such risks.
      </p> -->
    <!-- </div> -->
    <div *ngIf="data.showConsent" style='width: 100%;'>
      <div>
        <mat-checkbox [(ngModel)]="checkStoreData">I accept that my e-mail, public address and username are stored in the AirSwapChat database.</mat-checkbox>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="checkToS">I have read and accept the Terms of Service.</mat-checkbox>
      </div>
      <div class='centeredContainer'>
        <button
        mat-button
        (click)="onCloseCancel()">
          CANCEL
        </button>
        <button
        *ngIf="checkStoreData && checkToS"
        mat-button
        (click)="onCloseConfirm()">
          SEND AGREEMENT
        </button>
      </div>
    </div>
  </div>
  <!-- <div mat-dialog-actions> -->
  <!-- </div> -->
</div>