.row {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.peerCard {
  min-width: 500px;
  margin: 10px;
}


.onlineDot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.offlineDot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

