<div>
  <h1 mat-dialog-title>Sign Offer</h1>
  <div mat-dialog-content>
    <div>
      Are you sure you want to sign this deal of your <strong>{{data.order.makerAmount / data.order.makerDecimals}} {{data.order.makerProps.symbol}}</strong> for peer's <strong>{{data.order.takerAmount / data.order.takerDecimals}} {{data.order.takerProps.symbol}}</strong> ?<br>
      That is a price of <strong>{{data.order.takerAmount / data.order.makerAmount * data.order.makerDecimals / data.order.takerDecimals}} {{data.order.takerProps.symbol}}</strong> per <strong>{{data.order.makerProps.symbol}}</strong>
    </div>
    <div>
      <div>
        Prices according to <a href='https://www.cryptocompare.com/' target='_blank'>CryptoCompare.com</a>:<br>
        <strong>{{ data.order.makerProps.symbol }}: {{data.order['UsdPrices'].makerToken}} $,
        {{ data.order.takerProps.symbol }}: {{data.order['UsdPrices'].takerToken}} $</strong>
      </div>
      <div>
        A fair market price is accordingly:<br>
        <strong>{{data.order['UsdPrices'].makerToken / data.order['UsdPrices'].takerToken | number: '1.1-8'}} {{ data.order.takerProps.symbol }}</strong> per <strong>{{data.order.makerProps.symbol}}</strong>
      </div>
      <div *ngIf="this.deviation > .1 || this.deviation < -.1"><strong style='color:red'>Your price deviates from the market by over 10%.<br>Are you sure you want to agree to this deal?</strong></div>
    <div>
      Once the signature is sent, you can not take it back. And your peer has the final decision to seal this deal.<br>
      With nonce {{data.order.nonce}}, Metamask will ask you to sign the hash <br>
      {{data.prefixedHash}}
    </div>
  </div>
  <div mat-dialog-actions>
    <button
    mat-button
    (click)='onNoClick()'
    color='warn'>
      CANCEL
    </button>
    <button
    mat-button
    (click)='onCloseConfirm()'
    color='primary'>
      DO IT
    </button>
  </div>
</div>