<div>
  <h1 mat-dialog-title>
    Details of the Swap
  </h1>
  <div mat-dialog-content>
    <div>
      Following details will be sent to the AirSwap smart contract to finalize the swap
    </div>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="Maker Address ({{data.alias}})"
      readonly='true'
      [(ngModel)]="data.makerAddress">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="Maker Token ({{data.makerProps.name}})"
      readonly='true'
      [(ngModel)]="data.makerToken">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="Maker Amount (Decimals: {{data.makerProps.decimals}})"
      readonly='true'
      [(ngModel)]="data.makerAmount">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="Taker Address (You)"
      readonly='true'
      [(ngModel)]="data.takerAddress">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="Taker Token ({{data.takerProps.name}})"
      readonly='true'
      [(ngModel)]="data.takerToken">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="Taker Amount (Decimals: {{data.takerProps.decimals}})"
      readonly='true'
      [(ngModel)]="data.takerAmount">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="Expiration ({{data.expiration*1000 | date: 'medium'}})"
      readonly='true'
      [(ngModel)]="data.expiration">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="Nonce"
      readonly='true'
      [(ngModel)]="data.nonce">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="v"
      readonly='true'
      [(ngModel)]="data.v">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="r"
      readonly='true'
      [(ngModel)]="data.r">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input
      matInput
      placeholder="s"
      readonly='true'
      [(ngModel)]="data.s">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
    mat-button
    color='warn'
    (click)="onNoClick()">
      CANCEL
    </button>
    <button
    mat-button
    color='primary'
    [disabled]="data.clickedDealSeal"
    (click)="onCloseConfirm()">
      SIGN
    </button>
  </div>
</div>