{{connectionInfo}}
<div *ngIf="connected">
  <div *ngIf="connectedNetwork">Network: {{connectedNetwork}}</div>
  <div class='errorMsg' *ngIf="!correctNetwork">Please connect to Mainnet.</div>
  <div *ngIf="connectedAccount">Account: {{connectedAccount.slice(0,10)}}...</div>
  <div class='errorMsg' *ngIf="!connectedAccount">To login you need to be logged in with Metamask.</div>
  <div *ngIf="accountBalance">Balance: {{accountBalance | round:4}} Ξ</div>
  <div *ngIf="approvedBalance">Approved Balance: {{approvedBalance}} Ξ</div>
</div>