<mat-toolbar class="main-header">
  <a routerLink="" style="color:white">AirSwapChat</a>
</mat-toolbar>

<mat-sidenav-container class="main-container" hasBackdrop="false">
  <!-- Start Define the Left Sidenav -->
  <mat-sidenav
  #sidenav mode="side"
  [opened]="connectionService.connected && firebaseService.userIsVerified && initializedPage"
  class="main-sidenav"
  [fixedInViewport]="false" [fixedTopGap]="0"
  [fixedBottomGap]="0">
    <mat-nav-list>
      <a routerLink="./findPeers">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>face</mat-icon>
          FIND PEERS
        </button>
      </a>

      <button mat-raised-button class="menu_button" (click)="toggleMessenger()">
        <mat-icon
        class='menu_icon'
        [matBadge]="numUnreadMessages"
        [matBadgeHidden]="!showMessageBadge"
        matBadgePosition="above after">chat</mat-icon>
        MESSAGE
      </button>

      <a routerLink="./intents">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>create</mat-icon>
          INTENTS
        </button>
      </a>

      <!-- [disabled]="!showAnswerBadge" -->
      <a routerLink="./trading">
        <button
        mat-raised-button
        class="menu_button">
          <mat-icon
          class='menu_icon'
          [matBadge]="numUnreadAnswers"
          [matBadgeHidden]="!showAnswerBadge"
          matBadgePosition="above after">
            mail
          </mat-icon>
          TRADING
        </button>
      </a>

      <a routerLink="./online">
        <button
        mat-raised-button
        class="menu_button">
          <mat-icon class='menu_icon'>
            people
          </mat-icon>
          ONLINE
        </button>
      </a>

      <a routerLink="./myAccount">
        <button
        mat-raised-button
        class="menu_button">
          <mat-icon
          class='menu_icon'>
            person
          </mat-icon>
          ACCOUNT
        </button>
      </a>

      <a href="https://swapwatch.io" target="_blank">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>
            bar_chart
          </mat-icon>
          SwapWatch
        </button>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- End Define the Left Sidenav -->

  <!-- Start Define The main center container -->
  <mat-sidenav-content>
    <div class="content">
      <div *ngIf="connectionService.connected && firebaseService.userIsVerified && initializedPage; else initialPage">
        <router-outlet></router-outlet>
      </div>
      <ng-template #initialPage>
        <app-initial-page></app-initial-page>

        <div
        *ngIf="connectionService.web3Connected && !connectionService.wsConnected"
        class="container">
          <p>{{wsService.infoMessage}}</p>
          <button mat-raised-button
            (click)="connectWebsocket()"
            *ngIf="!wsService.performingHandshake && !connectionService.wsConnected">
            Click to Connect with AirSwap
          </button>
        </div>

        <div
        *ngIf="connectionService.web3Connected && connectionService.wsConnected
                && !firebaseService.userIsVerified"
        class="firebase_auth_container">
          <ngx-auth-firebaseui
          [providers]="[]"
          [guestEnabled]="false"
          (onSuccess)="loggedIn($event)"
          (onError)="signInError($event)"
          >
          </ngx-auth-firebaseui>
        </div>
      </ng-template>
      <div *ngIf="!connectionService.web3Connected">
        <span style="color:red">
          <b>Login to Metamask <span *ngIf="!web3service.correctNetwork">on {{web3service.desiredNetwork}}</span> to access the platform
          </b>
        </span>
      </div>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #sidechat
  mode="side"
  [opened]="connectionService.connected && firebaseService.userIsVerified && messageService.showMessenger"
  class="chat-side"
  position="end"
  disableClose="true">
    <app-message-system *ngIf="messageService.showMessenger"></app-message-system>
  </mat-sidenav>
</mat-sidenav-container>

<mat-toolbar class="main-footer">
  <div>
    <app-account></app-account> <!-- Shows connections -->
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button
      mat-menu-item
      (click)='openAbout()'>
        About
      </button>
      <button
      mat-menu-item
      (click)='openDonate()'>
        Donate
      </button>
      <button
      mat-menu-item
      (click)='openDisclaimer()'>
        Disclaimer
      </button>
    </mat-menu>
  </div>
</mat-toolbar>