@import '~../../customTheme.scss';

$bottom-color: rgb(255, 255, 255);
$text-color: black;
//
.main-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  background: white;

}
// ;
.main-header {
  display: flex;
  justify-content: flex-start;
  color: $text-color;
  background: $primary;
}

.main-sidenav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 150px;
  padding-top: 42px;
  color: $text-color;
  background: linear-gradient(to bottom, $primary, $bottom-color);
}

.main-footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: $text-color;
  background: $bottom-color;
}

.nav-item {
  color: $text-color;
}

.menu_button {
  width: 90%;
  text-align: right;
  border-radius: 0px;
}

.menu_icon {
  float: left;
}

.content {
  text-align: center;
  font-size: 12;
  padding-left: 10px;
  padding-right: 10px;
}

.chat-side {
  width: 350px;
  height:100%;
  padding-bottom: 10px;
  color: black;
  background: linear-gradient(to bottom, $primary, $bottom-color);
  overflow-x: hidden;
}


.websocket_button {
  margin: 50px 0px 50px 0px;
}
.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  // height:30vh;
}

.alias_input {
  margin: auto;
}

.firebase_auth_container {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}

.firebase_auth {
  width: 400px;
  margin-left: auto;
  margin-right:auto;
}