<mat-toolbar class="main-header">
  <a routerLink="" style="color:white">Chat Swap</a>
</mat-toolbar>

<mat-sidenav-container class="main-container" hasBackdrop="false">
  <mat-sidenav #sidenav mode="side" [opened]="this.wsService.connectionEstablished" 
               class="main-sidenav"
               [fixedInViewport]="false" [fixedTopGap]="0"
               [fixedBottomGap]="0">
    <mat-nav-list>
      <a routerLink="./findPeers">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>face</mat-icon>
          FIND PEERS
        </button>
      </a>

      <button mat-raised-button class="menu_button" (click)="toggleMessenger()">
        <mat-icon 
        class='menu_icon' 
        [matBadge]="numUnreadMessages"
        [matBadgeHidden]="!this.showMessageBadge" 
        matBadgePosition="above after">chat</mat-icon>
        MESSAGE
      </button>
        
      <!-- <a routerLink="./order">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>send</mat-icon>
          ORDER
        </button>
      </a> -->

      <a routerLink="./intents">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>create</mat-icon>
          INTENTS
        </button>
      </a>

      <a routerLink="./answer">
        <button 
        mat-raised-button 
        [disabled]="!showAnswerBadge"
        class="menu_button">
          <mat-icon 
          class='menu_icon' 
          [matBadge]="numUnreadAnswers"
          [matBadgeHidden]="!showAnswerBadge" 
          matBadgePosition="above after">
            mail
          </mat-icon>
          ANSWER
        </button>
      </a>

      <a routerLink="./whosOnline">
        <button 
        mat-raised-button 
        [disabled]="!showWhosOnlineBadge"
        class="menu_button">
          <mat-icon 
          class='menu_icon' 
          [matBadge]="numWhosOnline"
          [matBadgeHidden]="!showWhosOnlineBadge" 
          matBadgePosition="above after">
            people
          </mat-icon>
          ONLINE
        </button>
      </a>

      <a href="https://swapwatch.io" target="_blank">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>
            bar_chart
          </mat-icon>
          SwapWatch
        </button>
      </a>
    </mat-nav-list>  
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>  
      <div class="websocket_button" *ngIf="this.web3service.connectionEstablished">
        <app-websocket-connection></app-websocket-connection>
      </div>
      <div *ngIf="!web3service.connectionEstablished">
        <span style="color:red"><b>Login to Metamask to access the platform</b></span>
      </div> 
    </div>
  </mat-sidenav-content>
  <!-- <mat-sidenav #sidechat mode="side" opened="true"  -->
  <mat-sidenav #sidechat mode="side" [opened]="this.messageService.showMessenger" 
               class="chat-side" position="end"
               disableClose="true">
               <!-- <app-message-system></app-message-system> -->
    <app-message-system *ngIf="this.messageService.showMessenger"></app-message-system>
  </mat-sidenav>
</mat-sidenav-container>

<mat-toolbar class="main-footer">
  <div>
    <app-account></app-account>
  </div>
  <div>
  </div>
</mat-toolbar>