<mat-toolbar class="main-header">
  <a routerLink="" style="color:white">AirSwapChat</a>
</mat-toolbar>

<mat-sidenav-container class="main-container" hasBackdrop="false">
  <mat-sidenav 
  #sidenav mode="side" 
  [opened]="this.connectionService.connected && firebaseService.userIsVerified" 
  class="main-sidenav"
  [fixedInViewport]="false" [fixedTopGap]="0"
  [fixedBottomGap]="0">
    <mat-nav-list>
      <a routerLink="./findPeers">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>face</mat-icon>
          FIND PEERS
        </button>
      </a>

      <button mat-raised-button class="menu_button" (click)="toggleMessenger()">
        <mat-icon 
        class='menu_icon' 
        [matBadge]="numUnreadMessages"
        [matBadgeHidden]="!this.showMessageBadge" 
        matBadgePosition="above after">chat</mat-icon>
        MESSAGE
      </button>
        
      <a routerLink="./intents">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>create</mat-icon>
          INTENTS
        </button>
      </a>

      <a routerLink="./answer">
        <button 
        mat-raised-button 
        [disabled]="!showAnswerBadge"
        class="menu_button">
          <mat-icon 
          class='menu_icon' 
          [matBadge]="numUnreadAnswers"
          [matBadgeHidden]="!showAnswerBadge" 
          matBadgePosition="above after">
            mail
          </mat-icon>
          ANSWER
        </button>
      </a>

      <a routerLink="./whosOnline">
        <button 
        mat-raised-button 
        [disabled]="this.firebaseService.numWhosOnline===0"
        class="menu_button">
          <mat-icon 
          class='menu_icon' 
          [matBadge]="this.firebaseService.numWhosOnline"
          [matBadgeHidden]="this.firebaseService.numWhosOnline===0" 
          matBadgePosition="above after">
            people
          </mat-icon>
          ONLINE
        </button>
      </a>
      
      <a routerLink="./myAccount">
        <button 
        mat-raised-button 
        class="menu_button">
          <mat-icon 
          class='menu_icon'>
            person
          </mat-icon>
          ACCOUNT
        </button>
      </a>

      <a href="https://swapwatch.io" target="_blank">
        <button mat-raised-button class="menu_button">
          <mat-icon class='menu_icon'>
            bar_chart
          </mat-icon>
          SwapWatch
        </button>
      </a>
    </mat-nav-list>  
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <div *ngIf="connectionService.connected && firebaseService.userIsVerified; else initialPage">
        <router-outlet></router-outlet>
      </div>
      <ng-template #initialPage>
          <div>
            <h1>
              Peer-to-Peer Trading based on AirSwap
            </h1>
            <p>
              <i> Make yourself visible, find peers, connect, trade</i>
            </p>
            <p>
              <i>
                No need for order books. Negotiate privately & buy/sell every ERC20 token for any ERC20 token at the price that you and your counterparty agree upon.
              </i>
            </p>
          </div>
          
          <div 
          *ngIf="connectionService.web3Connected && !connectionService.wsConnected"
          class="container">
            <p>{{wsService.infoMessage}}</p>
            <button mat-raised-button
              (click)="connectWebsocket()" 
              *ngIf="!wsService.performingHandshake && !connectionService.wsConnected">
              Click to Connect with AirSwap
            </button>
          </div>
          
          <div *ngIf="connectionService.web3Connected
                  && connectionService.wsConnected
                  && !connectionService.firebaseConnected"
          class="firebase_auth_container">
            <firebase-ui class="firebase_auth"></firebase-ui>
          </div>
          <div class="firebase_auth_container"
          *ngIf="this.connectionService.connected && !firebaseService.userIsVerified">
            <app-verify-user class="firebase_auth"></app-verify-user>
          </div>
      </ng-template>
      <div *ngIf="!connectionService.web3Connected">
        <span style="color:red"><b>Login to Metamask to access the platform</b></span>
      </div> 
    </div>
  </mat-sidenav-content>
  <mat-sidenav #sidechat mode="side" [opened]="this.messageService.showMessenger" 
               class="chat-side" position="end"
               disableClose="true">
    <app-message-system *ngIf="this.messageService.showMessenger"></app-message-system>
  </mat-sidenav>
</mat-sidenav-container>

<mat-toolbar class="main-footer">
  <div>
    <app-account></app-account> <!-- Connection to web3 -->
  </div>
  <div>
  </div>
</mat-toolbar>